@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;500;600&family=Kanit:wght@200;300;400&family=Noto+Serif&family=Pacifico&family=Roboto:ital,wght@0,900;1,700;1,900&family=Source+Sans+Pro:wght@200;300&display=swap');
body{
    padding: 0;
    margin: 0;
    justify-content: center;
    background-blend-mode: multiply;
}
#slider{
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    animation: fade-up 0.5s;
}
#slider img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button1 {
  display: inline-block;
  background-color: white;
  border: none;
  color:black;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.button1 span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
section{
    display: block;
    height: 100vh;
    text-align: right;
    font-family: 'Amatic SC', cursive;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size:fit;
    padding: 5rem;
}
header{
    float: right;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    animation: fade-up 0.5s;
}
.about{
  width:fit-content;
  font-size: 1.5rem;
  max-width: 10rem;
  animation: fade-up 0.5s;
}
textarea{
  margin-top: -50px;
    width:30rem;
    height: fit-content;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 5px;
    animation: fade-up 0.5s;
  }
 .button2 {
  background-color: white;
  border: none;
  color:black;
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  animation: fade-up 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
p{
  padding: 2rem;
  width:fit-content ;
  height: fit-content;
  float: right;
  font-size: 2rem;
  animation: fade-up 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#22d3ee var(--red-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#fde047 #555; 
}

@keyframes fade-up {
  0%{
    transform: translateY(-10px) scale(0.8);
  }
  100%{
    transform: translateY(10px) scale(1);
  }
  
}

